{
  "swagger": "2.0",
  "info": {
    "title": "Azure OpenAI Service",
    "description": "Azure OpenAI Service provides REST API access to OpenAI's powerful language models including the GPT-3, Codex and Embeddings model series. These models can be easily adapted to your specific task including but not limited to content generation, summarization, semantic search, and natural language to code translation.",
    "version": "1.0"
  },
  "host": "openai.azure.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/openai/deployments/{deployment-id}/completions": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "ID of the completion.",
                  "title": "ID",
                  "x-ms-visibility": "advanced"
                },
                "object": {
                  "type": "string",
                  "description": "Type of model that was used for the completion.",
                  "title": "Object",
                  "x-ms-visibility": "important"
                },
                "created": {
                  "type": "integer",
                  "format": "int32",
                  "description": "created"
                },
                "model": {
                  "type": "string",
                  "description": "The model that was used for the completion.",
                  "title": "Model",
                  "x-ms-visibility": "important"
                },
                "choices": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "text": {
                        "type": "string",
                        "description": "The text of the completion.",
                        "title": "Completion text",
                        "x-ms-visibility": "important"
                      },
                      "index": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The index of the predicted completion.",
                        "title": "Index",
                        "x-ms-visibility": "advanced"
                      },
                      "finish_reason": {
                        "type": "string",
                        "description": "The reason why the completion finished.",
                        "title": "Finish reason",
                        "x-ms-visibility": "advanced"
                      },
                      "logprobs": {
                        "type": "string",
                        "description": "logprobs"
                      }
                    }
                  },
                  "description": "choices"
                },
                "usage": {
                  "type": "object",
                  "properties": {
                    "completion_tokens": {
                      "type": "integer",
                      "format": "int32",
                      "description": "completion_tokens"
                    },
                    "prompt_tokens": {
                      "type": "integer",
                      "format": "int32",
                      "description": "prompt_tokens"
                    },
                    "total_tokens": {
                      "type": "integer",
                      "format": "int32",
                      "description": "total_tokens"
                    }
                  },
                  "description": "usage"
                }
              }
            }
          }
        },
        "summary": "Create a completion",
        "description": "The model will generate one or more predicted completions based on a provided prompt. The service can also return the probabilities of alternative tokens at each position.",
        "operationId": "CreateCompletion",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "deployment-id",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Deployment",
            "description": "The deployment you want to perform the action on.",
            "x-ms-dynamic-values": {
              "operationId": "ListDeployments",
              "value-path": "id",
              "value-collection": "data",
              "value-title": "model",
              "parameters": {
                "api-version": "2022-12-01"
              }
            },
            "x-ms-visibility": "important"
          },
          {
            "name": "api-version",
            "in": "query",
            "required": false,
            "type": "string",
            "default": "2022-12-01",
            "x-ms-summary": "API version",
            "description": "The API version to use for this operation.",
            "x-ms-visibility": "advanced",
            "enum": [
              "2022-12-01"
            ]
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "prompt": {
                  "type": "string",
                  "description": "The prompt(s) to generate completions for, encoded as a string, a list of strings, or a list of token lists.",
                  "title": "Prompt",
                  "x-ms-visibility": "important"
                },
                "max_tokens": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The maximum number of tokens to generate in the completion. The token count of your prompt plus max_tokens can't exceed the model's context length. Most models have a context length of 2048 tokens (except davinci-codex, which supports 4096).",
                  "title": "Max tokens",
                  "default": 16,
                  "x-ms-visibility": "important"
                },
                "temperature": {
                  "type": "number",
                  "format": "float",
                  "description": "What sampling temperature to use. Higher values means the model will take more risks. Try 0.9 for more creative applications, and 0 (argmax sampling) for ones with a well-defined answer. We generally recommend altering this or top_p but not both.",
                  "title": "Temperature",
                  "x-ms-visibility": "advanced",
                  "default": 1
                },
                "top_p": {
                  "type": "number",
                  "format": "float",
                  "description": "An alternative to sampling with temperature, called nucleus sampling, where the model considers the results of the tokens with top_p probability mass. So 0.1 means only the tokens comprising the top 10% probability mass are considered. We generally recommend altering this or temperature but not both.",
                  "title": "Top P",
                  "x-ms-visibility": "advanced",
                  "default": 1
                },
                "n": {
                  "type": "integer",
                  "format": "int32",
                  "description": "How many completions to generate for each prompt. Note: Because this parameter generates many completions, it can quickly consume your token quota. Use carefully and ensure that you have reasonable settings for max_tokens and stop.",
                  "title": "N",
                  "x-ms-visibility": "advanced",
                  "default": 1
                },
                "stream": {
                  "type": "boolean",
                  "description": "Whether to stream back partial progress. If set, tokens will be sent as data-only server-sent events as they become available, with the stream terminated by a data: [DONE] message.",
                  "title": "Stream",
                  "x-ms-visibility": "advanced",
                  "enum": [
                    "",
                    true,
                    false
                  ]
                },
                "logprobs": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Include the log probabilities on the logprobs most likely tokens, as well the chosen tokens. For example, if logprobs is 10, the API will return a list of the 10 most likely tokens. the API will always return the logprob of the sampled token, so there may be up to logprobs+1 elements in the response.",
                  "title": "Logprobs",
                  "x-ms-visibility": "advanced"
                },
                "echo": {
                  "type": "boolean",
                  "description": "Echo back the prompt in addition to the completion.",
                  "title": "Echo",
                  "x-ms-visibility": "advanced",
                  "enum": [
                    "",
                    true,
                    false
                  ],
                  "default": false
                },
                "stop": {
                  "type": "string",
                  "description": "Up to four sequences where the API will stop generating further tokens. The returned text won't contain the stop sequence.",
                  "title": "Stop",
                  "x-ms-visibility": "advanced"
                },
                "presence_penalty": {
                  "type": "number",
                  "format": "float",
                  "description": "Number between -2.0 and 2.0. Positive values penalize new tokens based on whether they appear in the text so far, increasing the model's likelihood to talk about new topics.",
                  "title": "Presence penalty",
                  "x-ms-visibility": "advanced",
                  "default": 0
                },
                "frequency_penalty": {
                  "type": "number",
                  "format": "float",
                  "description": "Number between -2.0 and 2.0. Positive values penalize new tokens based on their existing frequency in the text so far, decreasing the model's likelihood to repeat the same line verbatim.",
                  "title": "Frequency penalty",
                  "x-ms-visibility": "advanced",
                  "default": 0
                },
                "best_of": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Generates best_of completions server-side and returns the \"best\" (the one with the lowest log probability per token). Results can't be streamed. When used with n, best_of controls the number of candidate completions and n specifies how many to return \u2013 best_of must be greater than n. Note: Because this parameter generates many completions, it can quickly consume your token quota. Use carefully and ensure that you have reasonable settings for max_tokens and stop.",
                  "title": "Best of",
                  "x-ms-visibility": "advanced",
                  "default": 1
                },
                "logit_bias": {
                  "type": "object",
                  "properties": {},
                  "description": "logit_bias",
                  "x-ms-visibility": "advanced"
                }
              }
            }
          }
        ]
      }
    },
    "/openai/deployments": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "scale_settings": {
                        "type": "object",
                        "properties": {
                          "scale_type": {
                            "type": "string",
                            "description": "scale_type"
                          }
                        },
                        "description": "scale_settings"
                      },
                      "model": {
                        "type": "string",
                        "description": "model"
                      },
                      "owner": {
                        "type": "string",
                        "description": "owner"
                      },
                      "id": {
                        "type": "string",
                        "description": "id"
                      },
                      "status": {
                        "type": "string",
                        "description": "status"
                      },
                      "created_at": {
                        "type": "integer",
                        "format": "int32",
                        "description": "created_at"
                      },
                      "updated_at": {
                        "type": "integer",
                        "format": "int32",
                        "description": "updated_at"
                      },
                      "object": {
                        "type": "string",
                        "description": "object"
                      }
                    }
                  },
                  "description": "data"
                },
                "object": {
                  "type": "string",
                  "description": "object"
                }
              }
            }
          }
        },
        "summary": "List deployments",
        "description": "List Azure OpenAI Service Deployments",
        "operationId": "ListDeployments",
        "x-ms-visibility": "advanced",
        "parameters": [
          {
            "name": "api-version",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "2022-12-01",
            "x-ms-visibility": "internal",
            "enum": [
              "2022-12-01"
            ],
            "description": "API version of the Azure OpenAI Service",
            "x-ms-summary": "API Version"
          }
        ]
      },
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Create deployment",
        "operationId": "CreateDeployment",
        "x-ms-visibility": "advanced",
        "parameters": [
          {
            "name": "api-version",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "2022-12-01",
            "enum": [
              "2022-12-01"
            ],
            "x-ms-summary": "API version",
            "description": "The requested API version.",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "scale_settings": {
                  "type": "object",
                  "properties": {
                    "capacity": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The constant reserved capacity of the inference endpoint for this deployment.",
                      "title": "Capacity",
                      "x-ms-visibility": "advanced"
                    },
                    "scale_type": {
                      "type": "string",
                      "description": "Defines how scaling operations will be executed.",
                      "title": "Scale type",
                      "x-ms-visibility": "advanced",
                      "enum": [
                        "manual",
                        "standard"
                      ],
                      "default": "standard"
                    }
                  },
                  "description": "scale_settings",
                  "required": [
                    "scale_type"
                  ]
                },
                "model": {
                  "type": "string",
                  "description": "The OpenAI model identifier (model-id) to deploy. Can be a base model or a fine tune.",
                  "title": "Model",
                  "x-ms-visibility": "important",
                  "x-ms-dynamic-values": {
                    "operationId": "ListModels",
                    "value-path": "id",
                    "value-collection": "data",
                    "value-title": "id",
                    "parameters": {
                      "api-version": "2022-12-01"
                    }
                  }
                }
              },
              "required": [
                "scale_settings",
                "model"
              ]
            }
          }
        ],
        "description": "Creates a new deployment for the Azure OpenAI resource according to the given specification."
      }
    },
    "/openai/deployments/{deployment-id}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "scale_settings": {
                  "type": "object",
                  "properties": {
                    "scale_type": {
                      "type": "string",
                      "description": "scale_type"
                    }
                  },
                  "description": "scale_settings"
                },
                "model": {
                  "type": "string",
                  "description": "model"
                },
                "owner": {
                  "type": "string",
                  "description": "owner"
                },
                "id": {
                  "type": "string",
                  "description": "id"
                },
                "status": {
                  "type": "string",
                  "description": "status"
                },
                "created_at": {
                  "type": "integer",
                  "format": "int32",
                  "description": "created_at"
                },
                "updated_at": {
                  "type": "integer",
                  "format": "int32",
                  "description": "updated_at"
                },
                "object": {
                  "type": "string",
                  "description": "object"
                }
              }
            }
          }
        },
        "summary": "Get deployment",
        "operationId": "GetDeployment",
        "description": "Gets details for a single deployment specified by the given deployment.",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "deployment-id",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Deployment",
            "description": "The deployment you want to perform the action on.",
            "x-ms-visibility": "important",
            "x-ms-dynamic-values": {
              "operationId": "ListDeployments",
              "value-path": "id",
              "value-collection": "data",
              "value-title": "model",
              "parameters": {
                "api-version": "2022-12-01"
              }
            }
          },
          {
            "name": "api-version",
            "in": "query",
            "required": false,
            "type": "string",
            "default": "2022-12-01",
            "x-ms-summary": "API Version",
            "description": "The requested API version.",
            "x-ms-visibility": "advanced",
            "enum": [
              "2022-12-01"
            ]
          }
        ]
      },
      "delete": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Delete deployment",
        "description": "/openai/deployments/{deployment-id}?api-version=2022-12-01",
        "operationId": "DeleteDeployment",
        "x-ms-visibility": "advanced",
        "parameters": [
          {
            "name": "deployment-id",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Deployment",
            "x-ms-visibility": "important",
            "x-ms-dynamic-values": {
              "operationId": "ListDeployments",
              "value-path": "id",
              "value-collection": "data",
              "value-title": "model",
              "parameters": {
                "api-version": "2022-12-01"
              }
            },
            "description": "The deployment you want to perform the action on."
          },
          {
            "name": "api-version",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ]
      }
    },
    "/openai/models": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "capabilities": {
                        "type": "object",
                        "properties": {
                          "fine_tune": {
                            "type": "boolean",
                            "description": "fine_tune"
                          },
                          "inference": {
                            "type": "boolean",
                            "description": "inference"
                          },
                          "completion": {
                            "type": "boolean",
                            "description": "completion"
                          },
                          "embeddings": {
                            "type": "boolean",
                            "description": "embeddings"
                          },
                          "scale_types": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "scale_types"
                          }
                        },
                        "description": "capabilities"
                      },
                      "lifecycle_status": {
                        "type": "string",
                        "description": "lifecycle_status"
                      },
                      "deprecation": {
                        "type": "object",
                        "properties": {
                          "fine_tune": {
                            "type": "integer",
                            "format": "int32",
                            "description": "fine_tune"
                          },
                          "inference": {
                            "type": "integer",
                            "format": "int32",
                            "description": "inference"
                          }
                        },
                        "description": "deprecation"
                      },
                      "id": {
                        "type": "string",
                        "description": "id"
                      },
                      "status": {
                        "type": "string",
                        "description": "status"
                      },
                      "created_at": {
                        "type": "integer",
                        "format": "int32",
                        "description": "created_at"
                      },
                      "updated_at": {
                        "type": "integer",
                        "format": "int32",
                        "description": "updated_at"
                      },
                      "object": {
                        "type": "string",
                        "description": "object"
                      }
                    }
                  },
                  "description": "data"
                },
                "object": {
                  "type": "string",
                  "description": "object"
                }
              }
            }
          }
        },
        "summary": "List models",
        "operationId": "ListModels",
        "x-ms-visibility": "advanced",
        "parameters": [
          {
            "name": "api-version",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "2022-12-01",
            "x-ms-summary": "API version",
            "description": "The requested API version.",
            "enum": [
              "2022-12-01"
            ]
          }
        ],
        "description": "Gets a list of all models that are accessible by the Azure OpenAI resource. These include base models as well as all successfully completed fine-tuned models owned by the Azure OpenAI resource."
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "header",
      "name": "api-key"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": []
}